.preview{
    height: 150px !important;
    width: 100%;
}

.right{
    width: 70%;
}

.post{}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.formtitle{

}

.addPost{
    margin-top: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}
.postContent{
    resize: none;
}