.posts{
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.postText{
    margin-bottom: 0;
}

.posts img{
    border-radius: 50%;
}

.like {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
}